@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import './components/';

// body {
//   background-color: antiquewhite;
//   color: brown;
//   text-align: center;
//   margin-top: 100px;
//   width: 100%;
//   height: 100%;
//   padding: 0;
//   margin: 0;
// }